.div {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div-2 {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.04),
    2px 0px 8px 0px rgba(0, 0, 0, 0.08);
  background-color: var(--global-background-white, #fff);
  display: flex;
  width: 100%;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
  }
}
.img {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  overflow: hidden;
  max-width: 100%;
}
.div-11 {
  width: 100%;
}
@media (max-width: 991px) {
  .div-11 {
    max-width: 100%;
  }
}
.div-12 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-12 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 30%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-13 {
  background-color: #f8f8f8;
  display: flex;
  flex-grow: 1;
  align-items: start;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  padding: 0 7px;
}
@media (max-width: 991px) {
  .div-13 {
    margin-top: 13px;
  }
}
.div-14 {
  display: flex;
  margin-top: 21px;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
}
.div-15 {
  display: flex;
  flex-direction: column;
  padding: 0 9px;
}
.div-16 {
  color: var(--text-color-dark, #333);
  align-self: stretch;
  white-space: nowrap;
  font: 400 16px/24px Roboto, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-16 {
    white-space: initial;
  }
}
.div-17 {
  align-self: stretch;
  display: flex;
  margin-top: 21px;
  justify-content: space-between;
  gap: 8px;
  padding: 4px 10px 6px 0;
}
@media (max-width: 991px) {
  .div-17 {
    margin-right: 3px;
    padding-right: 20px;
  }
}
.div-18 {
  color: var(--text-color-dark, #333);
  flex-grow: 1;
  white-space: nowrap;
  font: 400 14px/20px Roboto, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .div-18 {
    white-space: initial;
  }
}
.div-19 {
  color: var(--button-icon-dark, #4d5557);
  white-space: nowrap;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--global-divider, #dfe2e2);
  background-color: var(--navigation-primary-hover-2, #f1f4f4);
  align-self: center;
  aspect-ratio: -2.375;
  margin: auto 0;
  font: 400 10px/16px Roboto, -apple-system, Roboto, Helvetica,
    sans-serif;
  padding: 0 4px;
}
@media (max-width: 991px) {
  .div-19 {
    white-space: initial;
  }
}
.apply-button {
  background: rgb(103, 114, 116);
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  padding: 4px 8px;
}
.question-container {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 75%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .question-container {
    width: 100%;
  }
}
.question-inner-container {
  display: flex;
  margin-top: 21px;
  flex-direction: column;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .question-inner-container {
    max-width: 100%;
    margin-top: 34px;
  }
}
.question-heading-title {
  color: var(--text-color-dark, #333);
  white-space: nowrap;
  font: 500 18px/26px Roboto, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .question-heading-title {
    max-width: 100%;
    white-space: initial;
  }
}
.no-question-available img {
  width: 100%;
  max-width: fit-content;
  display: block;
  margin: 0 auto;
}
.no-question-available-text {
  text-align: center;
}
.question-heading-info {
  color: #333;
  margin-top: 20px;
  white-space: nowrap;
  font: 400 16px/24px Roboto, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .question-heading-info {
    max-width: 100%;
    white-space: initial;
  }
}
.single-question-container {
  border-radius: 4px;
  border: 1px solid #dfe2e2;
  display: flex;
  margin-top: 29px;
  flex-direction: column;
  align-items: start;
  padding: 12px 0;
}
@media (max-width: 991px) {
  .single-question-container {
    max-width: 100%;
  }
}
.single-question-inner-container {
  align-self: stretch;
  display: flex;
  width: 100%;
  padding-right: 35px;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .single-question-inner-container {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}
.question-box {
  display: flex;
  gap: 11px;
}
.question-title {
  color: #000;
  align-self: center;
  flex-grow: 1;
  white-space: nowrap;
  margin: auto 0;
  font: 400 16px/24px Roboto, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .question-title {
    white-space: initial;
  }
}
.single-question-action {
  display: flex;
  gap: 6px;
}
.divider {
  align-items: flex-start;
  background-color: var(--global-divider, #dfe2e2);
  align-self: stretch;
  display: flex;
  margin-top: 5px;
  height: 1px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .divider {
    max-width: 100%;
  }
}
.question-answer-container {
  display: flex;
  width: 90%;
  max-width: 100%;
  flex-direction: column;
  margin: 8px 0 0 14px;
}
@media (max-width: 991px) {
  .question-answer-container {
    margin-left: 10px;
  }
}
.question-answer-inner-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 4px 0;
  margin: 4px 8px;
}
.question-answer-inner-container-heading {
  display: flex;
  padding: 4px 0;
  margin: 4px 8px;
  width: 20px;
}
.choice-options {
  color: var(--text-color-dark, #333);
  align-self: center;
  flex-grow: 1;
  white-space: nowrap;
  display: inline-flex;
  margin: auto 4px;
  font: 400 14px/20px Roboto, -apple-system, Roboto, Helvetica,
    sans-serif;
}
@media (max-width: 991px) {
  .choice-options {
    white-space: initial;
  }
}
.textarea {
  width: 100%;
}
.action-img {
  cursor: pointer;
}
.custom-checkbox {
  position: relative;
  display: inline-block;
  user-select: none;
}

.custom-checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -10px;
  left: 3px;
  height: 22px;
  width: 22px;
  background-color: #838E91; /* Green background for unchecked state */
  border-radius: 50%;
  border: 2px solid #838E91;
  cursor: pointer;
}

.custom-checkbox-input:checked ~ .checkmark {
  background-color: #3E8D21; /* Red background for checked state */
  border-color: #3E8D21;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0px;
}

/* Show the checkmark whether it's checked or not */
.custom-checkbox .checkmark:after {
  display: block;
  transform: rotate(45deg);
}
